@use '../helpers' as *;

.badge{
  @include fluid-text(16, 12, $mobile);
  border-radius: rem(6);
  padding: rem(4) rem(12);
  color: var(--color-white);
  margin-left: rem(8);

  --gradient: linear-gradient(32deg,rgba(38, 38, 38, 1) 36%, rgba(255, 209, 25, 1) 100%);
  background-image: 
    linear-gradient(var(--color-dark-10)),
    var(--gradient);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border: rem(1) solid transparent;
}