@use '../helpers' as *;

.burger-button{
  @include square(rem(34));
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: transparent;
  color: var(--color-white);
  border: none;
  align-items: flex-end;
  @include hover{
    color: var(--color-accent);
  }
  &__line{
    height: rem(2);
    width: 100%;
    background-color: currentColor;
    border-radius: rem(2);
    transition: all var(--transition-duration) ease-in-out;
    &:last-child{
      width: 60%;
    }
  }

  &.is-active{
    .burger-button__line{
      &:first-child{
        rotate: 45deg;
        transform-origin: 0;
        translate:0.25em 0.1em;
      }
      &:nth-child(2){
        rotate: -45deg;
      }
      &:last-child{
        width: 0;
      }
    }
  }
}