@use '../helpers' as *;

.card{
  display: flex;
  align-items: center;
  @include mobile{
    flex-direction: column;
  }
  &__preview{
    padding-right: fluid(80, 60, $mobile);
    @include mobile{
      padding: rem(50) 0;
      border-bottom: var(--border);
    }
    &-main{
      display: flex;
      flex-direction: column;
      row-gap: fluid(50, 30);
    }
  }

  &__body{
    border-left: var(--border);
    padding: fluid(80, 60, $mobile);
    padding-right: 0;
    @include mobile{
      padding: rem(30) rem(16);
      border: none;
    }
  }
  &__grid{
    display: grid;
    row-gap: fluid(30,10);
    column-gap: fluid(30,10);
    &--2-cols{
      grid-template-columns: repeat(2, 1fr);
      @include mobile{
        grid-template-columns: 1fr;
      }
    }
  }
  &__cell{
    display: flex;
    flex-direction: column;
    row-gap: fluid(20, 4);
  }
}