@use '../helpers' as *;

.card{
  display: flex;
  align-items: center;
  @include mobile{
    flex-direction: column;
  }
  &__preview{
    padding-right: fluid(80, 40, $mobile);
    row-gap: fluid(60, 20);
    display: flex;
    flex-direction: column;
    @include mobile{
      padding: rem(50) 0;
      border-bottom: var(--border);
    }
    &-link{
      justify-content: center;
    }
    &-info{
      display: flex;
      flex-direction: column;
      row-gap: fluid(16, 8);
    }
    &-main{
      display: flex;
      flex-direction: column;
      row-gap: fluid(50, 20);
    }
  }

  &__body{
    border-left: var(--border);
    padding: fluid(80, 40, $tablet);
    padding-right: 0;
    @include mobile{
      padding: rem(30) rem(16);
      border: none;
    }
  }
  &__grid{
    display: grid;
    row-gap: fluid(30,10);
    column-gap: fluid(30,10);
    &--2-cols{
      grid-template-columns: repeat(2, 1fr);
      &-alt{
        //grid-template-columns: 1fr auto;
        align-items: center;
      }
      @include mobile{
        grid-template-columns: 1fr;
      }
    }
  }
  &__cell{
    display: flex;
    flex-direction: column;
    row-gap: fluid(16, 4);
    &--wide{
      grid-column: 1 / 3;
    }
    &-image{
      border-radius: rem(12);
    }
    &-subtitle{
      white-space: nowrap;
      font: inherit;
    }
    &:has(> *:only-child){
      justify-content: center;
    }

    &:not(:has(> *:only-child)){
      @include mobile-above{
        grid-column: 1 / 3;
      }
      @include mobile-s{
        grid-column: 1 / 3;
      }
    }
    &:has(.card__cell-link){
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-areas: 
        'other link'
        'other link';
    }
    &-link{
      grid-area: link;
    }
  }

}