@use '../helpers' as *;

.tabs{
  &__header{
    border-bottom: var(--border);
    @include tablet{
      overflow-x: auto;
    }
  }
  &__buttons{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: fluid(20, 14, $tablet);
    padding-block: fluid(50,20);
    @include tablet{
      width: max-content;
    }
  }

  &__button{
    padding: fluid(30, 18, $tablet) rem(16);
    border: var(--border);
    border-radius: rem(8);
    // @include fluid-text(18, 14, $laptop);
    font-size: fluid(18, 14, $tablet);
    background-color: var(--color-black);
    color: var(--color-gray-60);
    white-space: nowrap;

    @include hover{
      color: var(--color-accent);
      border-color: var(--color-accent);
    }

    &.is-active{
      background-color: var(--color-dark-10);
      color: var(--color-white);
      pointer-events: none;
      font-weight: 500;
    }
  }

  &__content{
    &:not(.is-active){
      display: none;
    }
    &:focus-visible{
      outline-offset: -1rem;
    }
  }
}